body {
  text-align: center;
  background-image: url("../images/shapes2.jpg");
  font-family: monospace;
}
.box {
  text-align: center;
  width: 40%;
  border-radius: 10px;
  margin: auto;
  padding: 1%;
  background-image: url("../images/shapes.jpg");
}
.input {
  display: block;
  margin: 20px;
}
